/*content section*/
#contentwrapper{
	background-color: #121212;
}       

#content{
	margin-top: 10px;
} 

#box{      
	margin-right: 9px;
	margin-bottom: 10px;
	float: left;
	width: 175px;
	height: 143px;
	border: 1px solid blue;
	
}

#box #title{
	margin: 5px 0px 0px 7px;
	font: 125% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}                                                                  

#box #context{
   	margin: 6px 15px 0px 15px;
	text-align: justify;
	height:52px;   
	font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#box #lilbox{ 
	float: left;
	text-align: center;
	font: 200% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	margin: 10px 0px 0px 12.5px;
	height: 40px;
	width: 40px;
	border: 1px solid grey;
}

#box #lilbox a:link {color: white; text-decoration: none; }
#box #lilbox a:active {color: white; text-decoration: none; }
#box #lilbox a:visited {color: white; text-decoration: none; }
#box #lilbox a:hover {color: white; text-decoration: none; }


/* content section for word/index */

#word-index{
	margin: 5px 0px 0px 20px;
	font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#word-index table td{
	padding: 5px 8px 2px 0px;
}

#word-index table th{
	text-align:left;
	font-size:120%;
} 

/*middle section*/
#main { 
	background-color: #363636;
	height: 160px;
	}

/*middle right section*/
                  
#formcontainer {
	float: right;
	height: 205px;
}     

#form {
	#position: relative;
	background-color: #262f60;
	height: 195px;	
	width: 400px;
	margin-top: 10px;
}

/*form*/
#form .text{  /*text on left*/ 
	float:left;
	margin: 10px 0px 0px 20px;
	padding-right: 5px;
	height: 160px;
	width: 125px; 
/*	border-right-style: none/hidden/dotted/dashed/solid/double/groove/ridge/inset/outset; */
	border-right: 2px ridge white;
}
.edit_user div{
	float: right;
	text-align: right;
	margin: 10px 20px 0px 0px;
}                    

.edit_user #user_submit{
	float:right;
	border: 0px solid white; 
}

                     

/*middle left section*/
#word { 
	display: table; 
	height: 120px; 
	#position: relative; 
	overflow: hidden;
	}

#wordcontainer { 
	#position: absolute; 
	#top: 50%;
	display: table-cell; 
	vertical-align: middle;
	} 

#theword { 
	float: center;
	text-align: center;
	margin: 0pt 0px 0pt 0pt;
	font-size: 150%; 
	#position: relative; 
	#top: -50%;
	}

/*header info*/
#header {
	height: 74px;
}

#nav { 
	display: table; 
	height: 65px; 
	#position: relative; 
	overflow: hidden;
	}

#navbar { 
	#position: absolute; 
	#top: 50%;
	display: table-cell; 
	vertical-align: middle;
	} 
	
#navigation { 
	float: right;
	text-align: right; 
	margin: 0pt 0px 0pt 0pt;
	font-size: 150%; 
	#position: relative; 
	#top: -50%;
	} 

	
/*footer*/
#footer{
	margin-top: 10px;
}