body {
	font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; color: white;  
}

a:link {color: white;}
a:active {color: white;}
a:visited {color: white;}
a:hover {color: gray;}

/*social icon*/
.addthis_toolbox{
	float:center;
	text-align:center;
	margin-bottom:-40px;
}

.addthis_toolbox .custom_images a {
    width: 64px;
    height: 64px;
    margin: 0;
    padding: 0;
}
.addthis_toolbox .custom_images a img {
    opacity: 1;
}
.addthis_toolbox .custom_images a:hover img {
    opacity: 0.75;
}

/*header info*/
#header {
	height: 40px;
}

#logo{
	font: 180% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	margin-top:12px;     
}

#greeting p{
	margin: 22px 0px 0px -20px;
	font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif; 
}

#greeting a{
	color:white;
	font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif; 
}

#share{
	float:right;
	text-align: right;
	margin-bottom: -20px;
}

/*middle section*/
#main { 
	background-color: black;
	height: 150px;
	background-color: #28e81e;
	margin-bottom:10px;   
	}   

/*left slide*/
#word { 
	display: table; 
	height: 140px; 
	#position: relative; 
	overflow: hidden;
	}

#wordcontainer { 
	#position: absolute; 
	#top: 50%;
	display: table-cell; 
	padding-top: 50px;
	} 

#theword { 
	float: center;
	text-align: left;
	margin: 0pt 0px 0pt 0pt;
	font-size: 150%; 
	#position: relative; 
	#top: -50%;
	}

#thewordmain { 
	float: center;
	text-align: left;
	margin: 0pt 0px 0pt 0pt;
	font-size: 100%; 
	#position: relative; 
	#top: -50%;
	}	

#theword2{
	color: black; 
	float: center;
	text-align: left;
	margin: 0pt 0px 0pt 0pt;
	font-size: 150%; 
	#position: relative; 
	#top: -50%;
	}   

#theword2 a:link, a:visited{
	color:black;
	font-size: 75%;
} 

.field{
	color:black;
}

/*right slider*/
#form {
	float: right; 
	#position: relative; 
	width: 140px;
	margin-top: 10px;
}

/*form*/

#form h2{
 	text-align: right;
	margin-right:20px;
}

.edit_user div{
	float: right;
	text-align: right;
	margin: 10px 20px 0px 0px;
}                    

.edit_user #user_submit{
	float:right;
	border: 0px solid white; 
}
   

/*content section*/
#contentwrapper{
	background-color:#303030;
}       

#content{
	margin-top: 10px;
	padding-bottom: 20px;
	position:static;
}

#word-index{
	font-size: 150%;
}                   

#word-index a{
	color:white;
}
#user-index a{
	color:white;
	font-size: 75%;
}    

#box{      
	margin-right: 9px;
	margin-bottom: 10px;
	float: left;
	width: 175px;
	height: 143px;
	border: 1px solid blue;
	position: static;
	overflow:hidden;
} 

#show{
	position:relative;
	background-color:green;
	height:60px;
	text-align: right;    
}

#box #title{
	margin: 5px 0px 0px 7px;
	font: 125% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}                                                                  

#box #context{
   	margin: 6px 15px 0px 15px;
	text-align: justify;
	font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	height:82px;
}

/*footer*/
#footer{
	margin-top: 10px;
}
