<h1>Listing words</h1>
<div id="word-index">
<table>
  <tr>
    <td>Title</td>
  </tr>

<% @word.each do |word| %>
  <tr>
    <td><%= link_to word.title, word %></td>
  </tr>
<% end %>
</table>
</div>
<br />
